[Unit]
Description=Neo4j Master service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --net=\"host\" -e ZOOKEEPER_ENDPOINTS=`/var/lib/scripts/get_zookeeper_endpoints.sh` -e COREOS_PUBLIC_IPV4=${COREOS_PUBLIC_IPV4} --name neo4j-master -p 7474:7474 {{ neo4jmaster_image_name }}"
ExecStop=/usr/bin/docker rm -f neo4j-master

[X-Fleet]
Conflicts=neo4j-master.*.service
